# 1. 행정구역 기준에 맞춰 balanced dataset으로 수정하기  
(현재 delivery freq 데이터셋에서 누락되어 있는 값(=결측값)이 뭔지 알 수 없으므로 그거 확인하고 기준이 되는 cleaned data set이 필요함)  
## 1-1. 국가 분류체계 확인
- 법정동 / 행정동... -> 코드로 관리할 수 있으면 좋은데 코드가 자꾸 바뀌어서 어려우니 그냥 지역이름을 str으로 

## 1-2. 메인 데이터셋의 지역을 unique 값으로 뽑아서 일단 눈으로 비교해보기
공식 분류체계를 따라 만든 데이터에 outer join으로 데이터셋 생성하고 records갯수 확인하기


### (광역시도 갯수) * (시군구 갯수) * (읍면동 갯수) * (날짜갯수) * (시간갯수 24)

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('/Users/seulalee/OneDrive/MyStudy/210816_엘리스AI트랙/TeamProject1/Team11_NaplessRabbit/project-template/rawdata/법정동코드/법정동코드 전체자료.csv')
df

            법정동코드     법정동명  폐지여부 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6
0      1100000000    서울특별시    존재        NaN        NaN        NaN        NaN
1      1111000000    서울특별시   종로구         존재        NaN        NaN        NaN
2      1111010100    서울특별시   종로구        청운동         존재        NaN        NaN
3      1111010200    서울특별시   종로구        신교동         존재        NaN        NaN
4      1111010300    서울특별시   종로구        궁정동         존재        NaN        NaN
...           ...      ...   ...        ...        ...        ...        ...
46309  5013032022  제주특별자치도  서귀포시        표선면        하천리         존재        NaN
46310  5013032023  제주특별자치도  서귀포시        표선면        성읍리         존재        NaN
46311  5013032024  제주특별자치도  서귀포시        표선면        가시리         존재        NaN
46312  5013032025  제주특별자치도  서귀포시        표선면        세화리         존재        NaN
46313  5013032026  제주특별자치도  서귀포시        표선면        토산리         존재        NaN

[46314 rows x 7 columns]

In [3]:
# 폐지된 지역 전부 삭제하기
# 값에 '폐지' 들어있으면 해당 레코드 통째로 지워야하는데,
# 일단 컬럼부터 분리하자! -> 컬럼명 바꾸고 '폐지여부' 컬럼 마지막에 새로 만들기
df.columns=['법정동코드', '지역1', '지역2', '지역3', '지역4', '지역5', '폐지여부']
df[df['지역2']=='폐지']

            법정동코드    지역1 지역2  지역3  지역4  지역5 폐지여부
1112   2100000000  부산직할시  폐지  NaN  NaN  NaN  NaN
1566   2200000000  대구직할시  폐지  NaN  NaN  NaN  NaN
1900   2300000000  인천직할시  폐지  NaN  NaN  NaN  NaN
2123   2400000000  광주직할시  폐지  NaN  NaN  NaN  NaN
2395   2500000000  대전직할시  폐지  NaN  NaN  NaN  NaN
45741  4900000000    제주도  폐지  NaN  NaN  NaN  NaN

In [4]:
df[df['지역3']=='폐지']

            법정동코드    지역1   지역2 지역3  지역4  지역5 폐지여부
1113   2111000000  부산직할시    중구  폐지  NaN  NaN  NaN
1165   2114000000  부산직할시    서구  폐지  NaN  NaN  NaN
1208   2117000000  부산직할시    동구  폐지  NaN  NaN  NaN
1232   2120000000  부산직할시   영도구  폐지  NaN  NaN  NaN
1260   2123000000  부산직할시  부산진구  폐지  NaN  NaN  NaN
...           ...    ...   ...  ..  ...  ...  ...
44771  4883000000   경상남도   사천군  폐지  NaN  NaN  NaN
45742  4911000000    제주도   제주시  폐지  NaN  NaN  NaN
45790  4913000000    제주도  서귀포시  폐지  NaN  NaN  NaN
45822  4971000000    제주도  북제주군  폐지  NaN  NaN  NaN
45980  4972000000    제주도  남제주군  폐지  NaN  NaN  NaN

[144 rows x 7 columns]

In [5]:
# df['폐지여부'] = [1 if [df['지역2']=='폐지']

df[(df['지역2']=='폐지') | (df['지역3'] == '폐지')| (df['지역4'] == '폐지')| (df['지역5'] == '폐지')]

            법정동코드      지역1   지역2   지역3  지역4  지역5 폐지여부
89     1111090100    서울특별시   종로구  창신1동   폐지  NaN  NaN
90     1111090200    서울특별시   종로구  창신2동   폐지  NaN  NaN
91     1111090300    서울특별시   종로구  창신3동   폐지  NaN  NaN
92     1111090400    서울특별시   종로구  숭인1동   폐지  NaN  NaN
93     1111090500    서울특별시   종로구  숭인2동   폐지  NaN  NaN
...           ...      ...   ...   ...  ...  ...  ...
46096  4972032025      제주도  남제주군   표선면  세화리   폐지  NaN
46097  4972032026      제주도  남제주군   표선면  토산리   폐지  NaN
46159  5011025305  제주특별자치도   제주시   애월읍  귀일리   폐지  NaN
46160  5011025306  제주특별자치도   제주시   애월읍  어도리   폐지  NaN
46161  5011025307  제주특별자치도   제주시   애월읍  동귀리   폐지  NaN

[25483 rows x 7 columns]

In [6]:
df[(df['지역2']=='존재') | (df['지역3'] == '존재')| (df['지역4'] == '존재')| (df['지역5'] == '존재')]

            법정동코드      지역1   지역2  지역3  지역4  지역5 폐지여부
0      1100000000    서울특별시    존재  NaN  NaN  NaN  NaN
1      1111000000    서울특별시   종로구   존재  NaN  NaN  NaN
2      1111010100    서울특별시   종로구  청운동   존재  NaN  NaN
3      1111010200    서울특별시   종로구  신교동   존재  NaN  NaN
4      1111010300    서울특별시   종로구  궁정동   존재  NaN  NaN
...           ...      ...   ...  ...  ...  ...  ...
46309  5013032022  제주특별자치도  서귀포시  표선면  하천리   존재  NaN
46310  5013032023  제주특별자치도  서귀포시  표선면  성읍리   존재  NaN
46311  5013032024  제주특별자치도  서귀포시  표선면  가시리   존재  NaN
46312  5013032025  제주특별자치도  서귀포시  표선면  세화리   존재  NaN
46313  5013032026  제주특별자치도  서귀포시  표선면  토산리   존재  NaN

[19779 rows x 7 columns]

In [7]:
# 전체 레코드 갯수 46314
25483+19779+280+772

46314

In [8]:
df[df['폐지여부']=='폐지']

            법정동코드   지역1  지역2  지역3  지역4  지역5 폐지여부
6224   4146131021   경기도  용인시  처인구  모현면  왕산리   폐지
6225   4146131022   경기도  용인시  처인구  모현면  갈담리   폐지
6226   4146131023   경기도  용인시  처인구  모현면  초부리   폐지
6227   4146131024   경기도  용인시  처인구  모현면  일산리   폐지
6228   4146131025   경기도  용인시  처인구  모현면  매산리   폐지
...           ...   ...  ...  ...  ...  ...  ...
41514  4815331026  경상남도  마산시  회원구  내서면  상곡리   폐지
41515  4815331027  경상남도  마산시  회원구  내서면  원계리   폐지
41516  4815331028  경상남도  마산시  회원구  내서면  삼계리   폐지
41517  4815331029  경상남도  마산시  회원구  내서면  신감리   폐지
41518  4815331030  경상남도  마산시  회원구  내서면  감천리   폐지

[280 rows x 7 columns]

In [9]:
df[df['폐지여부']=='존재']

            법정동코드   지역1  지역2    지역3  지역4  지역5 폐지여부
6183   4146125021   경기도  용인시    처인구  포곡읍  삼계리   존재
6184   4146125022   경기도  용인시    처인구  포곡읍  금어리   존재
6185   4146125023   경기도  용인시    처인구  포곡읍  둔전리   존재
6186   4146125024   경기도  용인시    처인구  포곡읍  영문리   존재
6187   4146125025   경기도  용인시    처인구  포곡읍  마성리   존재
...           ...   ...  ...    ...  ...  ...  ...
40788  4812725026  경상남도  창원시  마산회원구  내서읍  상곡리   존재
40789  4812725027  경상남도  창원시  마산회원구  내서읍  원계리   존재
40790  4812725028  경상남도  창원시  마산회원구  내서읍  삼계리   존재
40791  4812725029  경상남도  창원시  마산회원구  내서읍  신감리   존재
40792  4812725030  경상남도  창원시  마산회원구  내서읍  감천리   존재

[772 rows x 7 columns]

In [10]:
df[df['폐지여부']=='폐지']

            법정동코드   지역1  지역2  지역3  지역4  지역5 폐지여부
6224   4146131021   경기도  용인시  처인구  모현면  왕산리   폐지
6225   4146131022   경기도  용인시  처인구  모현면  갈담리   폐지
6226   4146131023   경기도  용인시  처인구  모현면  초부리   폐지
6227   4146131024   경기도  용인시  처인구  모현면  일산리   폐지
6228   4146131025   경기도  용인시  처인구  모현면  매산리   폐지
...           ...   ...  ...  ...  ...  ...  ...
41514  4815331026  경상남도  마산시  회원구  내서면  상곡리   폐지
41515  4815331027  경상남도  마산시  회원구  내서면  원계리   폐지
41516  4815331028  경상남도  마산시  회원구  내서면  삼계리   폐지
41517  4815331029  경상남도  마산시  회원구  내서면  신감리   폐지
41518  4815331030  경상남도  마산시  회원구  내서면  감천리   폐지

[280 rows x 7 columns]

In [11]:
df['지역1'].unique()

array(['서울특별시', '부산직할시', '대구직할시', '인천직할시', '광주직할시', '대전직할시', '부산광역시',
       '대구광역시', '인천광역시', '광주광역시', '대전광역시', '울산광역시', '세종특별자치시', '경기도',
       '강원도', '충청북도', '충청남도', '전라북도', '전라남도', '경상북도', '경상남도', '제주도',
       '제주특별자치도'], dtype=object)

In [12]:
df[df['지역2']=='폐지']

            법정동코드    지역1 지역2  지역3  지역4  지역5 폐지여부
1112   2100000000  부산직할시  폐지  NaN  NaN  NaN  NaN
1566   2200000000  대구직할시  폐지  NaN  NaN  NaN  NaN
1900   2300000000  인천직할시  폐지  NaN  NaN  NaN  NaN
2123   2400000000  광주직할시  폐지  NaN  NaN  NaN  NaN
2395   2500000000  대전직할시  폐지  NaN  NaN  NaN  NaN
45741  4900000000    제주도  폐지  NaN  NaN  NaN  NaN

In [13]:
df[df.지역2 == '폐지']

            법정동코드    지역1 지역2  지역3  지역4  지역5 폐지여부
1112   2100000000  부산직할시  폐지  NaN  NaN  NaN  NaN
1566   2200000000  대구직할시  폐지  NaN  NaN  NaN  NaN
1900   2300000000  인천직할시  폐지  NaN  NaN  NaN  NaN
2123   2400000000  광주직할시  폐지  NaN  NaN  NaN  NaN
2395   2500000000  대전직할시  폐지  NaN  NaN  NaN  NaN
45741  4900000000    제주도  폐지  NaN  NaN  NaN  NaN

In [14]:
# df['폐지여부'] = ['폐지' if i =='폐지' else  for i in df.지역2]  # if에 else의 여부에 따라, 위치에 따라 조건이 다르게 걸릴 수 있음

ValueError: Length of values (6) does not match length of index (46314)

In [18]:
df[df.폐지여부 == 'Y']

            법정동코드      지역1   지역2   지역3  지역4  지역5 폐지여부
89     1111090100    서울특별시   종로구  창신1동   폐지  NaN    Y
90     1111090200    서울특별시   종로구  창신2동   폐지  NaN    Y
91     1111090300    서울특별시   종로구  창신3동   폐지  NaN    Y
92     1111090400    서울특별시   종로구  숭인1동   폐지  NaN    Y
93     1111090500    서울특별시   종로구  숭인2동   폐지  NaN    Y
...           ...      ...   ...   ...  ...  ...  ...
46096  4972032025      제주도  남제주군   표선면  세화리   폐지    Y
46097  4972032026      제주도  남제주군   표선면  토산리   폐지    Y
46159  5011025305  제주특별자치도   제주시   애월읍  귀일리   폐지    Y
46160  5011025306  제주특별자치도   제주시   애월읍  어도리   폐지    Y
46161  5011025307  제주특별자치도   제주시   애월읍  동귀리   폐지    Y

[25763 rows x 7 columns]

In [19]:
df.loc[(df.지역2 == '폐지')|(df.지역3 == '폐지')|(df.지역4 == '폐지')|(df.지역5 == '폐지')|(df.폐지여부 == '폐지'), '폐지여부' ] = 'Y'

In [20]:
df[df.폐지여부 == 'Y']

            법정동코드      지역1   지역2   지역3  지역4  지역5 폐지여부
89     1111090100    서울특별시   종로구  창신1동   폐지  NaN    Y
90     1111090200    서울특별시   종로구  창신2동   폐지  NaN    Y
91     1111090300    서울특별시   종로구  창신3동   폐지  NaN    Y
92     1111090400    서울특별시   종로구  숭인1동   폐지  NaN    Y
93     1111090500    서울특별시   종로구  숭인2동   폐지  NaN    Y
...           ...      ...   ...   ...  ...  ...  ...
46096  4972032025      제주도  남제주군   표선면  세화리   폐지    Y
46097  4972032026      제주도  남제주군   표선면  토산리   폐지    Y
46159  5011025305  제주특별자치도   제주시   애월읍  귀일리   폐지    Y
46160  5011025306  제주특별자치도   제주시   애월읍  어도리   폐지    Y
46161  5011025307  제주특별자치도   제주시   애월읍  동귀리   폐지    Y

[25763 rows x 7 columns]

In [21]:
df.loc[(df.지역2 == '존재')|(df.지역3 == '존재')|(df.지역4 == '존재')|(df.지역5 == '존재')|(df.폐지여부 == '존재'), '폐지여부' ] = 'N'
df[df.폐지여부 == 'N']

            법정동코드      지역1   지역2  지역3  지역4  지역5 폐지여부
0      1100000000    서울특별시    존재  NaN  NaN  NaN    N
1      1111000000    서울특별시   종로구   존재  NaN  NaN    N
2      1111010100    서울특별시   종로구  청운동   존재  NaN    N
3      1111010200    서울특별시   종로구  신교동   존재  NaN    N
4      1111010300    서울특별시   종로구  궁정동   존재  NaN    N
...           ...      ...   ...  ...  ...  ...  ...
46309  5013032022  제주특별자치도  서귀포시  표선면  하천리   존재    N
46310  5013032023  제주특별자치도  서귀포시  표선면  성읍리   존재    N
46311  5013032024  제주특별자치도  서귀포시  표선면  가시리   존재    N
46312  5013032025  제주특별자치도  서귀포시  표선면  세화리   존재    N
46313  5013032026  제주특별자치도  서귀포시  표선면  토산리   존재    N

[20551 rows x 7 columns]

In [22]:
# 전체 레코드 갯수 46314, 폐지 여부 칼럼 값 Y + N 갯수 일치 25763+20551

# 광역시도 값 갯수 확인 : 17개로 메인 데이터셋이랑 일치함
df[df['폐지여부']=='N']['지역1'].nunique()

17

### 1. 폐지여부 기준으로 삭제하고  
### 2. nan값 찾아서 주소(지역1~지역5 까지 레벨 클리닝)
### 3. 갯수 확인하고, 우리 메인 데이터셋이랑 맞춰보기 (balanced 여부)

In [23]:
# 폐지여부 = 'Y'인 애들 제거
df = df[df['폐지여부']=='N']

In [25]:
# 지역정보에 광역시도 값만 있는 17개의 레코드 제거 : 20551 - 17 = 20534
df = df[df['지역2']!='존재']
df

            법정동코드      지역1   지역2  지역3  지역4  지역5 폐지여부
1      1111000000    서울특별시   종로구   존재  NaN  NaN    N
2      1111010100    서울특별시   종로구  청운동   존재  NaN    N
3      1111010200    서울특별시   종로구  신교동   존재  NaN    N
4      1111010300    서울특별시   종로구  궁정동   존재  NaN    N
5      1111010400    서울특별시   종로구  효자동   존재  NaN    N
...           ...      ...   ...  ...  ...  ...  ...
46309  5013032022  제주특별자치도  서귀포시  표선면  하천리   존재    N
46310  5013032023  제주특별자치도  서귀포시  표선면  성읍리   존재    N
46311  5013032024  제주특별자치도  서귀포시  표선면  가시리   존재    N
46312  5013032025  제주특별자치도  서귀포시  표선면  세화리   존재    N
46313  5013032026  제주특별자치도  서귀포시  표선면  토산리   존재    N

[20534 rows x 7 columns]

In [26]:
df[(df['지역1']=='세종특별자치시')&(df['지역3']=='존재')]

           법정동코드      지역1   지역2 지역3  지역4  지역5 폐지여부
4303  3611010100  세종특별자치시   반곡동  존재  NaN  NaN    N
4304  3611010200  세종특별자치시   소담동  존재  NaN  NaN    N
4305  3611010300  세종특별자치시   보람동  존재  NaN  NaN    N
4306  3611010400  세종특별자치시   대평동  존재  NaN  NaN    N
4307  3611010500  세종특별자치시   가람동  존재  NaN  NaN    N
4308  3611010600  세종특별자치시   한솔동  존재  NaN  NaN    N
4309  3611010700  세종특별자치시   나성동  존재  NaN  NaN    N
4310  3611010800  세종특별자치시   새롬동  존재  NaN  NaN    N
4311  3611010900  세종특별자치시   다정동  존재  NaN  NaN    N
4312  3611011000  세종특별자치시   어진동  존재  NaN  NaN    N
4313  3611011100  세종특별자치시   종촌동  존재  NaN  NaN    N
4314  3611011200  세종특별자치시   고운동  존재  NaN  NaN    N
4315  3611011300  세종특별자치시   아름동  존재  NaN  NaN    N
4316  3611011400  세종특별자치시   도담동  존재  NaN  NaN    N
4317  3611011500  세종특별자치시   산울동  존재  NaN  NaN    N
4318  3611011600  세종특별자치시   해밀동  존재  NaN  NaN    N
4319  3611011700  세종특별자치시   합강동  존재  NaN  NaN    N
4320  3611011800  세종특별자치시   집현동  존재  NaN  NaN    N
4321  3611025000  세종특별자치시  조치원읍  존재  NaN  NaN    N
4336  3611031000  세종특별자치시   연기면  존재  NaN  NaN    N
4346  3611032000  세종특별자치시   연동면  존재  NaN  NaN    N
4357  3611033000  세종특별자치시   부강면  존재  NaN  NaN    N
4366  3611034000  세종특별자치시   금남면  존재  NaN  NaN    N
4394  3611035000  세종특별자치시   장군면  존재  NaN  NaN    N
4409  3611036000  세종특별자치시   연서면  존재  NaN  NaN    N
4423  3611037000  세종특별자치시   전의면  존재  NaN  NaN    N
4439  3611038000  세종특별자치시   전동면  존재  NaN  NaN    N
4451  3611039000  세종특별자치시   소정면  존재  NaN  NaN    N

In [27]:
# 광역시도 값 17개 따로 저장해두기
area_level_1_values = df.지역1.unique()
area_level_1_values

array(['서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시', '울산광역시',
       '세종특별자치시', '경기도', '강원도', '충청북도', '충청남도', '전라북도', '전라남도', '경상북도',
       '경상남도', '제주특별자치도'], dtype=object)

In [28]:
# 광역시도별 level 수준 확인해야겠네
for i in area_level_1_values:
    area2_count = df[df['지역1'] == i]['지역2'].nunique()
    print(i, ':', area2_count)

# 통계청 행정구역 수랑 일치함 https://kosis.kr/statHtml/statHtml.do?orgId=101&tblId=DT_1ZGA15

서울특별시 : 25
부산광역시 : 16
대구광역시 : 8
인천광역시 : 10
광주광역시 : 5
대전광역시 : 5
울산광역시 : 5
세종특별자치시 : 28
경기도 : 31
강원도 : 18
충청북도 : 11
충청남도 : 15
전라북도 : 14
전라남도 : 22
경상북도 : 23
경상남도 : 18
제주특별자치도 : 2

## 메인데이터셋에서 나누는 지역 level은 level1 = 광역시도/ level2 = 시군구 / level3 = 읍면동  여기에 맞춰서 지금 내가 가진 데이터 칼럼 정리해야함

In [32]:
# 일단 서울 먼저 하자 제일 간단함 서울특별시 아래에 구만 25개 있고 그 밑에 동 425개 있음(kosis에 따르면)
df[df['지역1']=='서울특별시'].지역3.nunique()
# 서울은 갯수는 안 맞지만 일단 level_1, level_2, level_3 가 각각 지역1, 지역2, 지역3에 잘 들어가있음!
# 우리 데이터랑 지역 이름 비교해봐야겠네

466

In [30]:
# 메인 데이터셋 불러와서 걔의 지역값 unique 찍어보고 행정구역 데이터셋의 unique값 찍어서 비교
main_df = pd.read_csv('/Users/seulalee/OneDrive/MyStudy/210816_엘리스AI트랙/TeamProject1/Team11_NaplessRabbit/project-template/cleaned_data/freq_with_holiday.csv', index_col=0)
main_df

                 날짜  시간대  광역시도       시군구  읍면동  배달건수 요일 day_name holiday
0        2019-08-01    0   강원도       속초시   교동     1  목        N       N
1        2019-08-01    0   경기도  고양시 일산동구  마두동     4  목        N       N
2        2019-08-01    0   경기도  고양시 일산동구  백석동    28  목        N       N
3        2019-08-01    0   경기도  고양시 일산동구  식사동     3  목        N       N
4        2019-08-01    0   경기도  고양시 일산동구  장항동     4  목        N       N
...             ...  ...   ...       ...  ...   ... ..      ...     ...
2382976  2021-08-31   23  충청남도   천안시 서북구  쌍용동     6  화        N       N
2382977  2021-08-31   23  충청북도       제천시  신백동     6  화        N       N
2382978  2021-08-31   23  충청북도       제천시  신월동     2  화        N       N
2382979  2021-08-31   23  충청북도       제천시  천남동     1  화        N       N
2382980  2021-08-31   23  충청북도       제천시  하소동     4  화        N       N

[2382981 rows x 9 columns]

In [53]:
main_df['광역시도'].unique().sort()

In [56]:
# 변수 두 개. df 는 행정구역 데이터셋, main_df는 메인 배달 데이터셋

# df['지역1'] 과 main_df['광역시도']의 unique값 비교해서 일치여부 확인

# 그 다음 17개 광역시도 이하 단위에서 각각 확인하기... -> loop 써서 단순화 하고 싶네....

In [64]:
df_level1 = df['지역1'].unique()
df_level1.sort()
df_level1

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도',
       '충청남도', '충청북도'], dtype=object)

In [65]:
main_df_level1 = main_df['광역시도'].unique()
main_df_level1.sort()
main_df_level1

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도',
       '충청남도', '충청북도'], dtype=object)

In [67]:
df_level1 == main_df_level1 # 두 개 데이터셋의 시도광역시 변수는 일치함

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True])

In [72]:
# 이하 개별 데이터셋 비교가 필요함
# 일단 [서울특별시] 부터 

main_df_level2 = main_df[main_df['광역시도']=='서울특별시']['시군구'].unique()
main_df_level2.sort()
main_df_level2

array(['강남구', '강동구', '강북구', '강서구', '관악구', '구로구', '금천구', '노원구', '도봉구',
       '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구',
       '영등포구', '용산구', '은평구', '중구', '중랑구'], dtype=object)

In [73]:
df_level2 = df[df['지역1']=='서울특별시']['지역2'].unique()
df_level2.sort()
df_level2

array(['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구',
       '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구',
       '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구'], dtype=object)

In [74]:
df_level2 == main_df_level1

<ipython-input-74-1c00765ea845>:1: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
  df_level2 == main_df_level1

False

### 메인데이터셋에 서울특별시 '광진구' 정보 없음

In [80]:
# 서울시 지역level3(동단위) 비교하기 위해서 데이터 구조(빈 컬럼)과 unique()값 확인하기 - main_df['읍면동'] 과 df['지역3']
df[df['지역1']=='서울특별시']['지역3'].unique()
# '존재'적힌 레코드 삭제하기
df['지역3']!='존재'

1        False
2         True
3         True
4         True
5         True
         ...
46309     True
46310     True
46311     True
46312     True
46313     True
Name: 지역3, Length: 20534, dtype: bool

In [81]:
# 지역3 컬럼에'존재'적힌 레코드 삭제하기
df = df[df['지역3']!='존재']
df

            법정동코드      지역1   지역2  지역3  지역4  지역5 폐지여부
2      1111010100    서울특별시   종로구  청운동   존재  NaN    N
3      1111010200    서울특별시   종로구  신교동   존재  NaN    N
4      1111010300    서울특별시   종로구  궁정동   존재  NaN    N
5      1111010400    서울특별시   종로구  효자동   존재  NaN    N
6      1111010500    서울특별시   종로구  창성동   존재  NaN    N
...           ...      ...   ...  ...  ...  ...  ...
46309  5013032022  제주특별자치도  서귀포시  표선면  하천리   존재    N
46310  5013032023  제주특별자치도  서귀포시  표선면  성읍리   존재    N
46311  5013032024  제주특별자치도  서귀포시  표선면  가시리   존재    N
46312  5013032025  제주특별자치도  서귀포시  표선면  세화리   존재    N
46313  5013032026  제주특별자치도  서귀포시  표선면  토산리   존재    N

[20278 rows x 7 columns]

In [83]:
# 이렇게 맞추지말고, 일단 df 데이터로 balanced 먼저 만들고, 거기에 main_df를 조인하는 방식으로 작업해야겠음
# 그럼 df 작업 먼저...ㅠㅠ
df[df['지역1']=='세종특별자치시']

           법정동코드      지역1   지역2  지역3 지역4  지역5 폐지여부
4322  3611025021  세종특별자치시  조치원읍   원리  존재  NaN    N
4323  3611025022  세종특별자치시  조치원읍   상리  존재  NaN    N
4324  3611025023  세종특별자치시  조치원읍   평리  존재  NaN    N
4325  3611025024  세종특별자치시  조치원읍   교리  존재  NaN    N
4326  3611025025  세종특별자치시  조치원읍   정리  존재  NaN    N
...          ...      ...   ...  ...  ..  ...  ...
4450  3611038031  세종특별자치시   전동면  심중리  존재  NaN    N
4452  3611039021  세종특별자치시   소정면  소정리  존재  NaN    N
4453  3611039022  세종특별자치시   소정면  운당리  존재  NaN    N
4454  3611039023  세종특별자치시   소정면  대곡리  존재  NaN    N
4455  3611039024  세종특별자치시   소정면  고등리  존재  NaN    N

[122 rows x 7 columns]