# 노트
작성자 : 이슬아  
엘리스 제공 기본 데이터셋  
기간 : 2019-08-01 ~ 2021-08-31

In [44]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [45]:
# 4개의 데이터 하나로 통합하기
df_1 = pd.read_csv('/Users/seulalee/OneDrive/MyStudy/210816_엘리스AI트랙/project/project-template/rawdata/elicer_col_name/elicer_2019_col_name.csv')
df_2 = pd.read_csv('/Users/seulalee/OneDrive/MyStudy/210816_엘리스AI트랙/project/project-template/rawdata/elicer_col_name/elicer_2020_1_col_name.csv', encoding = 'cp949')
df_3 = pd.read_csv('/Users/seulalee/OneDrive/MyStudy/210816_엘리스AI트랙/project/project-template/rawdata/elicer_col_name/elicer_2020_2_col_name.csv')
df_4 = pd.read_csv('/Users/seulalee/OneDrive/MyStudy/210816_엘리스AI트랙/project/project-template/rawdata/elicer_col_name/elicer_2021_col_name.csv', encoding = 'cp949')

In [46]:
print(df_1.size+df_2.size+df_3.size+df_4.size)

14297886

In [47]:
df = np.concatenate([df_1, df_2, df_3, df_4])
df = pd.DataFrame(df)

In [36]:
# df.to_csv('/Users/seulalee/OneDrive/MyStudy/210816_엘리스AI트랙/project/project-template/rawdata/시간-지역별 배달 주문건수/time_area_delivery_freq.csv')

In [51]:
df.head(5)

           날짜 시간대 광역시도       시군구  읍면동 배달건수
0  2019-08-01   0  강원도       속초시   교동    1
1  2019-08-01   0  경기도  고양시 일산동구  마두동    4
2  2019-08-01   0  경기도  고양시 일산동구  백석동   28
3  2019-08-01   0  경기도  고양시 일산동구  식사동    3
4  2019-08-01   0  경기도  고양시 일산동구  장항동    4

In [52]:
df.columns = ['날짜', '시간대', '광역시도','시군구','읍면동','배달건수']
df.head(5)

           날짜 시간대 광역시도       시군구  읍면동 배달건수
0  2019-08-01   0  강원도       속초시   교동    1
1  2019-08-01   0  경기도  고양시 일산동구  마두동    4
2  2019-08-01   0  경기도  고양시 일산동구  백석동   28
3  2019-08-01   0  경기도  고양시 일산동구  식사동    3
4  2019-08-01   0  경기도  고양시 일산동구  장항동    4

In [53]:
# 지역별 주문 개수
delivery_count_by_city = df.groupby('광역시도')['배달건수'].count()
delivery_count_by_city

광역시도
강원도         42006
경기도        899548
경상남도       215746
경상북도       209921
광주광역시       31939
대구광역시       89441
대전광역시       41180
부산광역시       39040
서울특별시      357213
세종특별자치시      3123
울산광역시       11015
인천광역시       50169
전라남도        73992
전라북도        72297
제주특별자치도     43882
충청남도        89772
충청북도       112697
Name: 배달건수, dtype: int64

In [43]:
# 기간 확인
print(np.min(df['날짜']))
print(np.max(df['날짜']))

2019-08-01
2021-08-31

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2382981 entries, 0 to 2382980
Data columns (total 6 columns):
 #   Column  Dtype
---  ------  -----
 0   날짜      object
 1   시간대     object
 2   광역시도    object
 3   시군구     object
 4   읍면동     object
 5   배달건수    object
dtypes: object(6)
memory usage: 109.1+ MB

In [56]:
df.head()

           날짜 시간대 광역시도       시군구  읍면동 배달건수
0  2019-08-01   0  강원도       속초시   교동    1
1  2019-08-01   0  경기도  고양시 일산동구  마두동    4
2  2019-08-01   0  경기도  고양시 일산동구  백석동   28
3  2019-08-01   0  경기도  고양시 일산동구  식사동    3
4  2019-08-01   0  경기도  고양시 일산동구  장항동    4

In [64]:
df.sort_values('날짜').tail()

                 날짜 시간대  광역시도      시군구  읍면동 배달건수
2381247  2021-08-31  14   경기도     의정부시  민락동   53
2381248  2021-08-31  14   경기도     의정부시  산곡동    2
2381249  2021-08-31  14   경기도     의정부시  신곡동   16
2381231  2021-08-31  14   경기도  안산시 상록구   이동    3
2382980  2021-08-31  23  충청북도      제천시  하소동    4

In [77]:
city = df['광역시도'].unique()
# delivery_by_time = df[df['광역시도']=='서울특별시'].groupby('시간대').sum().reset_index()
# delivery_by_time[['시간대','배달건수']]

# for문으로 광역시도별로 시간대별 배달건수 보여주기 ( 서울시 시간대별 배달건수, 경기도 시간대별 배달건수 ...)

# for i in city:
#    delivery_by_time = df[df['광역시도']==i].groupby('시간대').sum().reset_index()
#    print(delivery_by_time[['시간대', '배달건수']])

    시간대   배달건수
0     0     65
1     1      7
2     9     21
3    10   1266
4    11   3495
5    12   4443
6    13   5229
7    14   5765
8    15   6021
9    16   6095
10   17   7310
11   18  10127
12   19  12525
13   20  13664
14   21  12412
15   22   6820
16   23    712
    시간대     배달건수
0     0   203988
1     1   105678
2     2    47948
3     3    20910
4     4    14648
5     5    10530
6     6    10295
7     7    12631
8     8    17440
9     9    48668
10   10   204155
11   11   804711
12   12   975121
13   13   789033
14   14   640534
15   15   587232
16   16   705231
17   17  1244149
18   18  1895158
19   19  1823633
20   20  1348982
21   21  1001182
22   22   688234
23   23   403342
    시간대    배달건수
0     0   24402
1     1   17746
2     2   11362
3     3    3678
4     4    1184
5     5     814
6     6     478
7     7     652
8     8    1604
9     9    7753
10   10   21531
11   11  101213
12   12  121477
13   13   86779
14   14   59340
15   15   48909
16   16   60274
17   17  133894
18   18  205681
19   19  171764
20   20  117854
21   21   94682
22   22   74221
23   23   47369
    시간대   배달건수
0     0   5257
1     1   2420
2     2    333
3     3    210
4     4      4
5     6      1
6     7      1
7     9      6
8    10   1502
9    11   8479
10   12  12817
11   13  10497
12   14   8998
13   15   9118
14   16  11838
15   17  22136
16   18  33690
17   19  33181
18   20  26346
19   21  23178
20   22  19650
21   23  12006
    시간대    배달건수
0     0   56655
1     1   29774
2     2   11866
3     3    6754
4     4    5574
5     5    4662
6     6    5073
7     7    5233
8     8    6882
9     9   15785
10   10   70188
11   11  213954
12   12  242982
13   13  204173
14   14  176889
15   15  170575
16   16  203254
17   17  332482
18   18  484585
19   19  477328
20   20  357780
21   21  274545
22   22  200970
23   23  112282
    시간대   배달건수
0     0   5274
1     1   1962
2     2     33
3     3      4
4     8     23
5     9   2852
6    10  11317
7    11  42292
8    12  47541
9    13  34895
10   14  26468
11   15  22925
12   16  28705
13   17  61578
14   18  96157
15   19  77820
16   20  51914
17   21  37469
18   22  25508
19   23  14008
    시간대   배달건수
0     0  12429
1     1   8221
2     2   4150
3     3   1201
4     4    128
5     7      1
6     8    675
7     9   4409
8    10  10401
9    11  30977
10   12  36516
11   13  27808
12   14  22444
13   15  20610
14   16  27359
15   17  56303
16   18  86007
17   19  76078
18   20  56413
19   21  45436
20   22  33488
21   23  22377
    시간대   배달건수
0     0   8566
1     1   4837
2     2   2881
3     3   2542
4     4   1589
5     5    648
6     6    517
7     7    481
8     8    884
9     9   2740
10   10   6440
11   11  20337
12   12  26126
13   13  20123
14   14  16098
15   15  14710
16   16  18459
17   17  33099
18   18  55633
19   19  53109
20   20  40130
21   21  31941
22   22  22818
23   23  14458
    시간대    배달건수
0     0   18803
1     1    7832
2     2    2908
3     3       5
4     4       1
5     6     157
6     7     121
7     8    7417
8     9   14369
9    10   30866
10   11   86750
11   12  106170
12   13   79338
13   14   60396
14   15   50983
15   16   67486
16   17  124399
17   18  179108
18   19  153741
19   20  108704
20   21   79901
21   22   55192
22   23   34761
    시간대   배달건수
0     0   4655
1     1   1946
2     2     76
3     9    630
4    10   8728
5    11  34859
6    12  34681
7    13  27389
8    14  22286
9    15  21155
10   16  25460
11   17  50422
12   18  71919
13   19  61742
14   20  46090
15   21  35136
16   22  22153
17   23  11320
    시간대    배달건수
0     0   11327
1     1    5164
2     2      24
3     3       1
4     8       9
5     9     622
6    10   12930
7    11   73442
8    12   92326
9    13   71822
10   14   55747
11   15   49480
12   16   61906
13   17  125743
14   18  203058
15   19  179040
16   20  127799
17   21   98087
18   22   64101
19   23   33156
    시간대   배달건수
0     0   1198
1     1    623
2     2      3
3     8    118
4     9    790
5    10   3975
6    11  14341
7    12  18446
8    13  18794
9    14  18491
10   15  18588
11   16  18938
12   17  24514
13   18  32787
14   19  37447
15   20  37737
16   21  33434
17   22  17922
18   23   3286
    시간대   배달건수
0     0   4536
1     1    710
2     2    561
3     3     95
4     4      1
5     7     11
6     8     22
7     9   5252
8    10   9376
9    11  37832
10   12  41583
11   13  31602
12   14  24956
13   15  23633
14   16  31332
15   17  67231
16   18  95052
17   19  75274
18   20  53311
19   21  38918
20   22  25523
21   23  12377
    시간대   배달건수
0     0   1117
1     1    591
2     2     70
3     3      1
4     8    167
5     9    263
6    10   2501
7    11   6803
8    12   8101
9    13   6895
10   14   5811
11   15   5421
12   16   5941
13   17   9477
14   18  14208
15   19  12916
16   20   9501
17   21   7608
18   22   5645
19   23   2905
    시간대   배달건수
0     0   7203
1     1   2988
2     2    646
3     3    427
4     4    369
5     5    370
6     6    416
7     7    516
8     8    887
9     9   2864
10   10   9541
11   11  34411
12   12  37489
13   13  30964
14   14  25389
15   15  24091
16   16  27652
17   17  44070
18   18  63736
19   19  66772
20   20  54211
21   21  45341
22   22  30539
23   23  18460
    시간대  배달건수
0     0   847
1     1   387
2     7     2
3     9    25
4    10  1557
5    11  3380
6    12  3883
7    13  3222
8    14  2562
9    15  2586
10   16  3340
11   17  6246
12   18  9090
13   19  7389
14   20  5469
15   21  4223
16   22  3217
17   23  2009
    시간대  배달건수
0     0    15
1     1     9
2     8     1
3     9    30
4    10   382
5    11   690
6    12   567
7    13   406
8    14   377
9    15   383
10   16   379
11   17   389
12   18   401
13   19   328
14   20   247
15   21   184
16   22    71
17   23    12

In [83]:
# [용산구] 배달주문량, [시간대에 따라/요일에 따라/계절에 따라] 어떻게 다를까요?
# -> 보여주는 형태가 가로축 시간, 세로축 배달량으로 해서 집계만 보여주면 됨
df[(df['광역시도']=='서울특별시')&(df['시군구']=='용산구')]

                 날짜 시간대   광역시도  시군구   읍면동 배달건수
243425   2019-11-01   9  서울특별시  용산구  동빙고동    1
1169821  2020-08-11  20  서울특별시  용산구   서계동    1
1170770  2020-08-12   9  서울특별시  용산구   서계동    6
1170878  2020-08-12  10  서울특별시  용산구   서계동    8
1171070  2020-08-12  11  서울특별시  용산구   서계동    5
...             ...  ..    ...  ...   ...  ...
2373469  2021-08-28  14  서울특별시  용산구   한남동    1
2374483  2021-08-28  19  서울특별시  용산구   한남동    1
2376445  2021-08-29  15  서울특별시  용산구   한남동    2
2376643  2021-08-29  16  서울특별시  용산구   한남동    1
2377474  2021-08-29  20  서울특별시  용산구   한남동    1

[3362 rows x 6 columns]

In [ ]:
# [용산구] 배달주문량, [코로나 확진자수]와 관계가 있을까요? 
# ->